<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DmsComparison.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DmsComparison.Properties.Settings>
            <setting name="Alg_Name" serializeAs="String">
                <value>Cosine</value>
            </setting>
            <setting name="DataProc_Normalization" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataProc_Rectification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vis_UseAbsoluteScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vis_AbsoluteScale" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="UI_ToolPanel_HorzAlign" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UI_ToolPanel_VertAlign" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Vis_DiffScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Vis_DmsTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vis_DiffTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataProc_DataType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataProc_DataSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataProc_DataFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_DistancePanelMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_VisualizationPanelMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataProc_FilterSettings_From" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataProc_FilterSettings_To" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataProc_FilterSettings_LimitType" serializeAs="String">
                <value>1</value>
            </setting>
        </DmsComparison.Properties.Settings>
    </userSettings>
</configuration>